/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #673ab7;
}

.cb-sidenav-container {
  height: 100%;
  width: 100%;
  background-color: rgb(238, 238, 238);

  .cb-sidenav-container__menu {
      padding: 10px;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  
      .menu__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        img {
          max-width: 50px;
          height: auto;
        }
        span {
          padding: 10px;
          font-weight: bold;
          font-size: 20px;
        }
      }
  
      .menu__option:hover {
        color: #673ab7;
      }

      .menu__option-description {
        padding-left: 5px;
      }
  
      .menu__show-details {
        padding: 20px 0 0 15px;
      }
  }
    
  .cb-sidenav-container__toolbar {
      display: flex;
      justify-content: flex-end;
  
      i {
          cursor: pointer;
      }
      
      .toolbar__option:hover {
        color: #d0c986
      }
  }
    
  .cb-sidenav-container__main-content {
      padding: 10px;
      display: block;
      background: #eeeeee;
  }
}

