<mat-drawer-container class="cb-sidenav-container" autosize>

  <mat-drawer class="cb-sidenav-container__menu" mode="side" opened="true" color="primary">
    <div class="menu-logo">
      <img src="/assets/icons/cb-logo.png">
      <span *ngIf="showExtendedMenu">CBox</span>
    </div>
    <mat-divider></mat-divider>
    <div class="menu-details">
      <i *ngIf="showExtendedMenu" class="material-icons" (click)="showExtendedMenu = !showExtendedMenu">
        keyboard_arrow_right</i>
      <i *ngIf="!showExtendedMenu" class="material-icons" (click)="showExtendedMenu = !showExtendedMenu">
        keyboard_arrow_left</i>
    </div>

    <mat-list *ngIf="!showExtendedMenu">
      <mat-list-item>
          <i class="material-icons" (click)="onClickRestaurantsLayout()">restaurant_menu</i>
      </mat-list-item>
    </mat-list>

    <mat-list *ngIf="showExtendedMenu">
      <mat-list-item>
        <i class="material-icons" (click)="onClickRestaurantsLayout()">restaurant_menu</i>
        <span class="menu-item-description" (click)="onClickRestaurantsLayout()">Restaurants</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="cb-sidenav-container__toolbar">
        <div>
          <i class="material-icons">notifications</i>
        </div>
        <div>
          <i class="material-icons" (click)="onLogoutClick()">exit_to_app</i>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  <div class="cb-sidenav-container__main-content">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

</mat-drawer-container>
